#pai
{
    display:flex;
    background-color:lightgray;
    width:100vh;
    height:100vh;
    flex-direction:column;
}
.filho{
    background-color:blue;
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:400px;
    height:400px;
    flex-wrap:wrap;
}
input
{
    width:400px;
}