@font-face {
    font-family: myFirstFont;
    src: url(../fonts/pricedown.ttf);
}
html {
    height: 100%
}
body{
    background:black;
}
input{
    padding:10px;
    border-radius:5px;
}
.recebedor:hover{
    background:lightgreen;
}
.button{
    border: solid 2px black;
    color:black;
    background-color:white;
    font-weight:bold;
    border-radius:15px;
    outline-style: none;
    padding:10px;
    font-size:20px;
    transition: 1s;
}
.button:hover{
    background:yellow;
    cursor:pointer;
}
#imagem-principal{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
}
#id-texto-principal
{
    font-family:Arial;
    font-size:1em;
    background:black;
    color:white;
    text-align:center;
    font-weight:bold;
    width: 500px; 
    border: solid 5px yellow;
    border-radius:15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hud
{
    width:200px;
    height:400px;
}
#dia,#local{
    font-weight:bold;
    color:white;

}
#dia:before{
    content:'Dia: ';
}
#local:before{
    content:'Local: ';
}
.pai-dinheiro:before{
    content:'$';
}
.pai-dinheiro{
    color:rgb(49,81,41);
    font-family:myFirstFont;
    font-size:2rem;
    top:10px;
    width: 20%;
    position:relative;
    display:inline;
    -webkit-text-stroke: 2px black;
}
.pai-hp
{
    position: relative;
    background-color: rgb(117, 4, 4);
    width: 100%;
    height: 20px;
    top: 10px;
    right: 0;
    border:solid black 1px;
}
.filho-hp{
    background-color:red;
    width:100%;
    height:20px;
    position:relative;
}
.container-rodape{
    background:lightslategray;
    width:100%;
    height:50px;
    position:fixed;
    bottom:0;
    left:0;
}
.itens-footer{
    display:flex;
    justify-content:center;
}
.img-footer{
    width:30px;
    height:30px;
    padding-top:10px;
    padding-right:10px;
    transition:1s;
}
.img-footer:hover
{
    transform:scale(1.2);
}
@media (max-width: 680px)
{
    .hud{
        position:absolute;
        top:10px;
        height:20px;
        right:0;
        width:200px;
    }
}